title = 'Kool Tech Tricks'
baseURL = 'https://kooltechtricks.org/'

theme = ['ktt-main-theme', 'ktt-base-theme']

languageCode = 'ru-ru'
defaultContentLanguage = 'ru-ru' # Without this line, date format will be en_US

copyright = 'Содержимое доступно по лицензии [Creative Commons «С указанием авторства — С сохранением условий» (CC BY-SA 4.0)](https://creativecommons.org/licenses/by-sa/4.0/deed.ru), если не указано иное.'

#[taxonomies]
#category = 'categories'

[markup]
[markup.tableOfContents]
ordered = true

[markup.goldmark.parser.attribute]
block = true

[outputs]
home = ['html', 'rss']
section = ['html', 'rss']
taxonomy = []
term = []

[menus]
[[menus.main]]
name = 'Вики'
pageRef = '/wiki'
weight = 1
[[menus.main]]
name = 'Программы'
pageRef = '/software'
weight = 2
[[menus.main]]
name = 'Подборки'
pageRef = '/collections'
weight = 3
[[menus.main]]
name = 'Руководства'
pageRef = '/guides'
weight = 4
[[menus.main]]
name = 'Таблицы'
pageRef = '/tables'
weight = 5

[params]
color = '#1f89f5'
locale = 'ru_RU'
startYear = 2023  # Copyright 2023-2024

###########################
## Disclaimers in footer ##
###########################

disclaimers = [
    """Сайт поддерживается волонтёрами. Не вся информация может быть актуальной и
    достоверной. Проверяйте источники и
    [вносите свой вклад](https://docs.kooltechtricks.org/contributing) там, где
    требуются исправления и дополнения."""
]

#########
## Git ##
#########

[params.git]
commits = 'https://github.com/KoolTechTricks/kooltechtricks.org/commits/main/content'
report = 'https://github.com/KoolTechTricks/kooltechtricks.org/issues/new'
source = 'https://github.com/KoolTechTricks/kooltechtricks.org/blob/main/content'
contributing = 'https://docs.kooltechtricks.org/contributing'

###############
## Analytics ##
###############

[params.plausible]
instance = "plausible-analytics.kooltechtricks.org"
siteId = "2YBG6YCuy2ZAIeUbxd1d2"

###############
## Fediverse ##
###############

[params.fediverse]
handle = '@KoolTechTricks@posts.kooltechtricks.org'
urls = [
    'https://cr8r.gg/@KoolTechTricks',
    'https://posts.kooltechtricks.org/@KoolTechTricks',
    'https://mastodon.ml/@KoolTechLord',
    'https://infosec.exchange/@kttrickster',
]

#############
## Socials ##
#############

[[params.socials]]
id = 'telegram'
title = 'Телеграм-канал'
url = 'https://t.me/KoolTechTricks'

[[params.socials]]
id = 'mastodon'
title = 'Mastodon (Fediverse)'
url = 'https://posts.kooltechtricks.org/@KoolTechTricks'

[[params.socials]]
id = 'bluesky'
title = 'Bluesky'
url = 'https://bsky.app/profile/kooltechtricks.org'

[[params.socials]]
id = 'xitter'
title = 'X/Twitter'
url = 'https://x.com/KoolTechTricks'

[[params.socials]]
id = 'youtube'
title = 'YouTube'
url = 'https://www.youtube.com/@KoolTechTricks'

[[params.socials]]
id = 'github'
title = 'Исходные тексты страниц на GitHub'
url = 'https://github.com/KoolTechTricks/kooltechtricks.org'

[[params.socials]]
id = 'rss-feed'
title = 'RSS-лента'
url = '/index.xml'

################
## Learn more ##
################

[[params.learnMore]]
title = 'О проекте'
url = 'https://docs.kooltechtricks.org/about'

[[params.learnMore]]
title = 'Политика конфиденциальности'
url = 'https://docs.kooltechtricks.org/faq/privacy-policy'

[[params.learnMore]]
title = 'Связаться'
url = 'https://docs.kooltechtricks.org/about/contact'

[[params.learnMore]]
title = 'Участники'
url = '/contributors'

#################
## Other sites ##
#################

[[params.otherSites]]
title = 'Блог'
url = 'https://blog.kooltechtricks.org'

[[params.otherSites]]
title = 'Документация'
url = 'https://docs.kooltechtricks.org'

######################
## Badges in footer ##
######################

[[params.badges]]
image = 'codeberg.svg'
url = 'https://codeberg.page'
title = 'Hosted by Codeberg Pages'
mirror = 'codeberg'

[[params.badges]]
image = 'neocities.png'
url = 'https://neocities.org'
title = 'Hosted by Neocities'
mirror = 'neocities'

[[params.badges]]
image = 'creativecommons.svg'
url = 'https://creativecommons.org/licenses/by-sa/4.0/deed.ru'
title = 'CC BY-SA 4.0'

[[params.badges]]
image = 'hugo.svg'
url = 'https://gohugo.io'
title = 'Made with Hugo'

#############
## Mirrors ##
#############

[params.mirrors.codeberg]
message = 'Это зеркало сайта <a href="https://kooltechtricks.org" target=_blank>kooltechtricks.org</a>, размещённое на <a href="https://codeberg.page" target=_blank>Codeberg Pages</a>.'

[params.mirrors.neocities]
message = 'Это зеркало сайта <a href="https://kooltechtricks.org" target=_blank>kooltechtricks.org</a>, размещённое на <a href="https://neocities.org" target=_blank>Neocities</a>.'
